#gameContainer {
    position: relative;
    width: 1000px; /* change according to your game */
    height: 500px; /* change according to your game */
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    height: 900px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    visibility: hidden;
}

body {
    margin: 0;
}