@font-face {
    font-family: 'VHSGothic';
    src: url('font/vhs-gothic.ttf');
}

#gameContainer {
    position: relative;
    width: 1000px; /* change according to your game */
    height: 500px; /* change according to your game */
    border: 5px solid black;
    transform: scale(1, 1)
}

#canvas {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px;
    height: 500px;
    background-image: url("../images/background.png");
    background-size: cover;
    visibility: hidden;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/websiteBackground.jpg");
}